name: Deploy to Windows Server
on:
  push:
    branches: [ "main" ] # ทำงานเมื่อ push เข้า main

jobs:
  deploy:
    runs-on: self-hosted # รันบนเครื่อง Server ของคุณเอง
    steps:
      - name: Deploy Script
        shell: powershell
        run: |
          # 1. เข้าไปที่โฟลเดอร์โปรเจกต์ (แก้ path ให้ตรง)
          cd "C:\Users\Administrator\Desktop\Web Project\KU-run\KU-RUN-Check-in-Backend"
          
          # 2. ดึงโค้ดล่าสุด
          git pull origin main
          
          # 3. ลง Library เพิ่ม (ถ้ามี)
          .\venv\Scripts\pip install -r requirements.txt
          
          # 4. รีสตาร์ท Service (WinSW)
          .\KURunService.exe restart
          